---
import { isLoggedIn, deleteTicket } from "../../../../utils"
import MainLayout from "../../../../layouts/MainLayout.astro"

// check if already logged in
const token = (Astro.cookies.get("token") || {})?.value
const tokenExpiry = (Astro.cookies.get("tokenExpiry") || {})?.value

if (!isLoggedIn({ token, tokenExpiry })) {
    return Astro.redirect("/login")
}

const { id } = Astro.params
const deleteStatus = await deleteTicket(token, parseInt(id))
const message = deleteStatus === 204 ? "Ticket eliminado" : "Error al eliminar el ticket"

Astro.cookies.set("errorTicket", "", {path: `/dashboard/deleteticket/${id}/`, expires: new Date()})
Astro.cookies.set("successTicket", "", {path: `/dashboard/deleteicket/${id}/`, expires: new Date()})
---

<MainLayout title="Dashboard">
    <p>{deleteStatus && message}</p>
    <a href="/dashboard">Volver</a> 
</MainLayout>