---
import MainLayout from "../layouts/MainLayout.astro"
import LoginForm from "../components/LoginForm.astro"
import PageTitle from "../components/PageTitle.astro"
import { isLoggedIn } from "../utils"

// check if already logged in
const token = (Astro.cookies.get("token") || {})?.value
const tokenExpiry = (Astro.cookies.get("tokenExpiry") || {})?.value

if (isLoggedIn({ token, tokenExpiry })) {
    return Astro.redirect("/dashboard")
}

const errorLogin = (Astro.cookies.get("errorLogin") || {})?.value
Astro.cookies.set("errorLogin", "", {path: "/login", expires: new Date()})
---

<MainLayout title="Login">
    <div class="p-8 bg-sky-500 h-screen lg:flex lg:justify-center lg:items-center">
        <div class="lg:w-3/4 xl:w-1/2 2xl:w-1/3">
            <PageTitle title="Login" />
            <LoginForm errorMsg={errorLogin} />
        </div>
    </div>
</MainLayout>