---
import { isLoggedIn, deleteShop } from "../../../../utils"
import MainLayout from "../../../../layouts/MainLayout.astro"

// check if already logged in
const token = (Astro.cookies.get("token") || {})?.value
const tokenExpiry = (Astro.cookies.get("tokenExpiry") || {})?.value

if (!isLoggedIn({ token, tokenExpiry })) {
    return Astro.redirect("/login")
}

const { id } = Astro.params
const deleteStatus = await deleteShop(token, parseInt(id))
const message = deleteStatus === 204 ? "Tienda eliminada" : "Error al eliminar la tienda"

Astro.cookies.set("errorShop", "", {path: `/dashboard/deleteshop/${id}/`, expires: new Date()})
Astro.cookies.set("successShop", "", {path: `/dashboard/deletshop/${id}/`, expires: new Date()})
---

<MainLayout title="Dashboard">
    <p>{deleteStatus && message}</p>
    <a href="/dashboard">Volver</a> 
</MainLayout>