---
import FormInput from "./FormInput.astro"
import FormSubmit from "./FormSubmit.astro"
import MessageBox from "./MessageBox.astro"

const { errorMsg } = Astro.props
---
<form action="/actions/login" method="post">
    <div class="flex flex-col space-y-2">
        <FormInput name="username", type="text", placeholder="Username" required={true} />
        <FormInput name="password" type="password" placeholder="Password" required={true} />
    </div>
    <FormSubmit text="Let's go!" />
    
    {
        errorMsg && 
        <MessageBox type="error">{errorMsg}</MessageBox>
    }
</form>