---
/* This component is used to display shops */

import Shop from "./Shop.astro"
import { getShops } from "../utils"
const { token } = Astro.props

const shops = await getShops(token)
---
<div>
    <p><a href="/dashboard/newshop/">Nueva Tienda</a></p>
    <h2>Tiendas</h2>
    {shops && shops.map((shop) => <Shop id={shop.id} name={shop.name} />)}
</div>