---
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - Shopping Tickets</title>
</head>
<body>
    <article class="text-cyan-900">
        <slot />
    </article>
</body>
</html>