---
import { ViewTransitions } from "astro:transitions"
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - Shopping Tickets</title>
    <ViewTransitions />
</head>
<body>
    <article class="p-8 bg-sky-200 text-cyan-900 min-h-screen lg:flex lg:flex-col lg:justify-center lg:items-center">
        <slot />
    </article>
</body>
</html>